
name: Azure Pipelines
stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'  # Updated from deprecated Ubuntu 1604
    steps:
    - task: ArchiveFiles@2
      displayName: 'Archive Azure Vote'
      inputs:
        rootFolderOrFile: 'azure-vote'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-azurevote.zip'
    - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-azurevote.zip
      displayName: 'Upload Package'
      artifact: drop-azurevote
- stage: Deploy
  jobs:
  - deployment: VMDeploy
    pool:
      vmImage: 'ubuntu-latest'  # Updated from deprecated Ubuntu-16.04
    displayName: Deploy to VMSS
    environment:
      name: ACDND-C4-Project
      resourceType: VirtualMachine
    strategy:
      runOnce:
        deploy:
          steps:
          - task: Bash@3
            inputs:
              targetType: 'inline'
              script: |
                #! /bin/bash
                
                # Updated dependencies for Python 3.11 compatibility
                # Install from requirements.txt for version consistency
                pip3 install --upgrade pip
                pip3 install Flask==3.0.3
                pip3 install redis==5.0.8
                # Note: OpenCensus is deprecated. Implement Azure Monitor OpenTelemetry instead
                # pip3 install azure-monitor-opentelemetry

                cd ~/
                DIR=/home/udacityadmin/app
                if [ ! -d "$DIR" ]; then
                    mkdir app
                fi
                mv /home/udacityadmin/azagent/_work/1/drop-azurevote/$(Build.BuildId)-azurevote.zip app
                cd app
                unzip -o $(Build.BuildId)-azurevote.zip